.form-group > label{
    text-align:right;
}

.no-bullets-all *:not(.badge),
.no-bullets{
    list-style: none;
    padding-left:5px;
    padding-top:5px !important;
}

.no-bullets-all > li,
.no-bullets > li{
    padding: 5px 5px;
}


.badge-primary{
    background-color: dodgerblue;
}

.top-header > li{
    font-weight: bold;
}

.top-header > li > ul{
    font-weight: normal;
}

.row-buffer{
    margin-top:20px;
}

.btn-lg{
    min-width:150px;
}

.full-width{
    width:100%;
}

.center-block{
    display: block;
    margin:auto;
}

.bg-success{
    background-color: #dff0d8 !important;
}
.inline-headers h4, .inline-headers h2{
  display: inline-block;
  vertical-align: baseline;
}

ul > li > ul{
    padding-left:10px !important;
}
